{% extends 'base.html' %}
<!-- filepath: c:\Users\Ali\Documents\VS_CODE projects\listo\listo_app\templates\home.html -->
{% block content %}
<div id="homeMain" class="container flex-column align-items-center justify-content-center">
    <div>
        <h1>Welcome to Listo! App</h1>
        <div class="my-2">
            {% if user.is_authenticated %}
            <p>Hi, {{ user.username }}. Let's get things done!</p>
            <p>View and manage all your tasks:</p>
            <a tabindex="0" aria-label="go to todo list" class="btn-custom" href="{% url 'todo_list' %}">To-Do List</a>
            {% else %}
            <a tabindex="0" aria-label="go to login" class="btn-custom" href="{% url 'login' %}">Login</a>
            <p>Don't have a Listo! account yet?</p>
            <a tabindex="0" aria-label="create new account" class="btn-custom" href="{% url 'signup' %}">Sign up</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}