<!-- filepath: c:\Users\Ali\Documents\VS_CODE projects\listo\listo_app\templates\logout_confirm.html -->
{% extends 'base.html' %}
{% block content %}
<div id="homeMain" class="container flex-column align-items-center justify-content-center" style="min-height: calc(100vh - 150px);">
    <h1>Confirm Logout</h1>
    <p>Are you sure you want to log out?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn-custom" type="submit">Logout</button>
        <button href="{% url 'todo_list' %}" class="btn-custom-secondary">Cancel</button>
    </form>
</div>
{% endblock %}