{% extends 'base.html' %}
<!-- filepath: c:\Users\Ali\Documents\VS_CODE projects\listo\listo_app\templates\signup.html -->
{% block content %}
<div id="homeMain" class="container flex-column align-items-center justify-content-center" style="min-height: calc(100vh - 150px);">
    <div>
        <h1 id="homeMain">Sign Up</h1>
    </div>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn-custom" type="submit">Sign Up</button>
        <span><p>Already have an account? <a href="login.html">Log In</a></p></span>
    </form>
</div>
{% endblock %}