{% extends 'base.html' %}
<!-- filepath: c:\Users\Ali\Documents\VS_CODE projects\listo\todo\templates\todo\todo_list.html -->
{% block content %}
    <div  id="homeMain" class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-3">
        <h1 tabindex="0" aria-label="todo list">To-Do List</h1>
        <a tabindex="0" aria-label="Add new Task" href="{% url 'todo_create' %}" class="btn-custom mt-2 mt-md-0">New Task</a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Due Date</th>
                <th class="text-center">Status</th>
                <th class="text-end">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
            <tr>
                <td tabindex="0" aria-label="task title">{{ todo.title }}</td>
                <td tabindex="0" aria-label="task due date">{{ todo.due_date|date:"d/m/Y" }}</td> <!-- Format the due date -->
                <td tabindex="0" aria-label="task status">
                {% if todo.completed %}
                <i tabindex="0" aria-label="task completed" class="fa-solid fa-circle-check text-completed"></i> <!-- Completed Icon -->
                {% else %}
                <i tabindex="0" aria-label="task in progress" class="fa-solid fa-clock-rotate-left text-pending"></i> <!-- Pending Icon -->
                {% endif %}
                </td>
                <td class="text-end">
                <div>
                    <a tabindex="0" aria-label="edit task" href="{% url 'todo_update' todo.pk %}" class="btn btn-sm icon-edit">
                    <i class="fas fa-edit"></i> <!-- Edit Icon -->
                    </a>
                    <a tabindex="0" aria-label="delete task" href="{% url 'todo_delete' todo.pk %}" class="btn btn-sm icon-delete">
                    <i class="fas fa-trash-alt"></i> <!-- Delete Icon -->
                    </a>
                </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
  {% endblock %}