@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html body {
    font-family: "Victor Mono", monospace; 
    color: #525252;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px; /* Adjust based on header height */
    padding-bottom: 50px; /* Adjust based on footer height */
    overflow-y: auto;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    color: #0abe13;
    font-size: 0.8rem;
    width: 100%;
    position: fixed;
    bottom: 0;
}



/* Header Styles */
header {
    background-color: #0abe13;
    color: #ffffff;
    text-align: right;
    vertical-align: middle;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header {
    background-color: #0abe13;
}

.header * {
    color: #ffffff !important;
    text-align: right;
    vertical-align: middle;
}

h1 {
    font-size: 1.7rem !important;
}

.salutation {
    display: inline-block;
    padding: 0px 5px 10px 5px;
    font-size: 0.7rem;
    text-align: right;
    width: 100%;
}


/*Table Styles*/

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
    text-decoration: solid 2px #333;
    
}

table td, table th {
    border-color: #0abe13;
}

tbody {
    font-size: 0.8rem;
}

/* Table: Todo List Icons Styles */
.text-completed {
    color: #0abe13 !important; /* Green color for completed tasks */
}

.text-pending {
    color: #dc3545 !important; /* Red color for pending tasks */
}

.icon-edit {
    color: #0abe13 !important; /* Blue color for edit icon */
}

.icon-delete {
    color: #525252 !important; /* Red color for delete icon */
}




/* Navigation Styles */
nav .navbar-toggler-custom {
    border-color: #ffffff; /* White border for the toggler button */
}
nav .navbar-toggler-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

a {
    color: #ffffff !important;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}



#logo_style {
    text-align: center;
    vertical-align: middle;
}

/* Form Styles */
form {
    font-size: 0.7rem !important;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    font-size: 1rem !important;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form ul.errorlist {
    color: red;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Global Button Styles */
.btn-custom {
    display: inline-block;
    padding: 6px 10px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #0abe13;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btn-custom:hover {
    background-color: #0abe13;
    box-shadow: #525252 0px 0px 1px;
}

.btn-custom-danger {
    background-color: #dc3545;
}

.btn-custom-danger:hover {
    background-color: #c82333;
}

.btn-custom-secondary {
    background-color: #6c757d;
}

.btn-custom-secondary:hover {
    background-color: #5a6268;
}

/* Responsiveness Media Queries

/* Hide scrollbar on touch devices */
@media (pointer: coarse) {
    body {
        overflow-y: hidden;
    }
}

/* Media Query for Small Screens main element size*/
@media (max-width: 576px) {
    #homeMain {
        vertical-align: top;
        padding-top: 50px;
    }
}

/* Media Query for Medium Screens */
@media (min-width: 577px) and (max-width: 992px) {
    #homeMain {
        vertical-align: top;
        padding-top: 80px;
       
    }
}